<div class="container-fluid footer bg-dark text-light">
    <div class="row">
        <div class="col-md-3 text-center">
            <h5>Links</h5>
            <a class="text-light" href="#">Datenschutz</a>
            <br>
            <a class="text-light" href="#">Impressum</a>
        </div>
        <div class="col-md-6 text-center">
            <h4>Project by</h4>
            <p>Maximilian, Yannick, Andre, Tobias</p>
                <a class="text-light" target="_blank" href="https://github.com/maxiroellplenty/book-library">Project Ui</a><br>
                <a class="text-light" target="_blank" href="https://github.com/Salzzy/SchulBibliothekRestApi">Project Server</a>
        </div>
        <div class="col-md-3 tech text-center">
            <h5>Tech Stack</h5>
            <img style="height: 60px;" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Spring_Framework_Logo_2018.svg">
        </div>
    </div>
</div>