.icon
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.user-button
{
    justify-content: center;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    position: relative;
    background-color: white; 
}
.navbar-brand
{
    font-weight: 800;
    font-size: 25px;
    text-shadow: 0px 2px #131313;
}