<h1>Hi {{currentUser.firstName}}!</h1>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="suchtext">Suchtext</label>
            <input type="text" formControlName="searchtext" class="form-control"  />
            
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Suchen</button>
            
        </div>
    </form>


    <!-->form (ngSubmit)="onSubmit()">
            <input placeholder="Suchetext..."> <input type="submit" value="suchen" >
    </form-->
<h3>Suchergebnisse:</h3>

<div class="container">
    <!-->tr>
        <th>Bild:</th>
        <th>ISBN:</th>
        <th>Bild</th>
        <th>Verfügbarkeit</th>
        <th></th>
    </tr-->
    <div class="row mb-3 pt-2 pb-2 book-search-item" *ngFor="let result of results">
        <div class="col">
            <img width="100px" height="100px" src="{{result.img}}">
        </div>
        <div class="col">
            <a href="#" >{{result.buchtitel}}</a><br>
            <div>Author: {{result.author}}</div>
            <div>ISBN: {{result.ISBN}}</div>
        </div>
        <div class="col">
            <span *ngIf="result.available && result.available > 0" style="color:green">Verfügbar</span>
            <span *ngIf="!result.available || result.available == 0" style="color:red">nicht Verfügbar</span>
        </div>
    </div>
</div>